

.iso-groove {
  display: inline-grid;
  width: max-content;
  margin-left: 175pt;
  margin-right: 175pt;
  margin-top: 50pt;
}

.random-mover {
  display: inline-grid;
  width: max-content;
  margin-left: 175pt;
  margin-right: 175pt;
  margin-top: 50pt;
}

.ping-pong {
  display: inline-grid;
  flex-wrap: nowrap;
  width: max-content;
  margin-left: 175pt;
  margin-right: 175pt;
  margin-top: 50pt;
}

.grid-circles {
  display: inline-grid;
  flex-wrap: nowrap;
  width: max-content;
  margin-left: 175pt;
  margin-right: 175pt;
  margin-top: 50pt;
}

.artTitle{
  background-color: rgb(98, 0, 255);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 20px;
  margin-left: 170px;
  border-radius: 5cm;
  display:inline-grid;
}