.proj-ctn {
  text-align: center;
  padding: 30px;
  border-radius: 25px;
  width: fit-content;
  height: max-content;
  margin: 50px;
  display: inline-grid;
  background-color: rgb(219, 204, 240);
}

.proj-img {
  width: fit-content;
  padding: 15px;
  border-radius: 25px;
  border-width: 12px;
  background-color: rgb(213, 147, 240);
}
