body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* background: linear-gradient(to bottom, #ff9b00 0%, #ec6ee8 21%, #4a18fe 100%); */
  background: rgb(61, 50, 66);
  color: white;
}
a {
  text-decoration: none;
  color: rgb(248, 236, 219);
}
.ctn-app {
  text-align: center;
}
.ctn-nav {
  border-radius: 10px;
  font-size: larger;
  width: fit-content;
  justify-content: flex-start;
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-size: xx-large;
}
.nav-item {
  background-color: rgb(174, 140, 230);
  margin: 10px;
  padding: 10px;
  border-radius: 0.5cm;
}
.nav-item:hover{
    background-color:rgb(119, 0, 255);
} 

.header {
  text-align: left;
  color: rgb(174, 140, 230);
  padding-left: 50px;
}
