body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to bottom, #FF9B00 0%, #EC6EE8 21%, #4A18FE 100%);
}

.ctn-app{
    text-align: center;
}
.ctn-nav{
    border-radius: 10px;
    top: 0;
    left: 0;
    border: groove 10px rgb(112, 130, 235);
    color:aliceblue;
    font-size: larger;
    width: fit-content;
    padding: 50px;
}

/* .ctn-nav:hover{
    color:aqua;
} */

.header{
    text-align: left;
    color: rgb(104, 41, 206);
    padding-left: 50px;
}